.badge {
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 4px 8px;
}

.primary {
  background-color: #7047EB;
  color: white;
}

.secondary {
  background-color: #E8DEF8;
  color: #7047EB;
}

.outline {
  background-color: transparent;
  border: 1px solid #7047EB;
  color: #7047EB;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 14px;
}

.large {
  font-size: 16px;
}
